<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069478012269-cbf5dlpkq4lgm5sfnnqmcrq35fkgosl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069478012269-cbf5dlpkq4lgm5sfnnqmcrq35fkgosl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCASbtG6UjiXuJmAEpMp420f-h9YbX-o3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1069478012269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuan.pham</string>
	<key>PROJECT_ID</key>
	<string>twittercloneswiftui-8cf51</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneswiftui-8cf51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069478012269:ios:1885ab6e40a273719d2664</string>
</dict>
</plist>